.header {
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    width: 60%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: coral;
}

.old-price {
    color: lightcoral;
    text-decoration: line-through;
}

.price {
    color: coral;
}